In [1]:
# Familiarize with merging datasets together
# Learn how to identify missing data from a dataset
# Handle the missing data from the dataset

#

In [2]:
# multi comment in python
'''
Merge other data to your selected data set. 
    Find another data set, series, text data or a column from another data source and merge with your selected data set.
    Identify the missing values on your data set. Count the missing values on your data set and then clean your data set from the missing values.
    Submit your your Python Jupter notebook file. Make sure you have comments explaining your code
'''

'\nMerge other data to your selected data set. \n    Find another data set, series, text data or a column from another data source and merge with your selected data set.\n    Identify the missing values on your data set. Count the missing values on your data set and then clean your data set from the missing values.\n    Submit your your Python Jupter notebook file. Make sure you have comments explaining your code\n'

In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df1 = pd.read_csv('/home/koto/Desktop/data_612/datasets/state_drug_utilization.csv')
df2 = pd.read_csv('/home/koto/Desktop/data_612/datasets/teams.csv')
df3 = pd.read_csv('/home/koto/Desktop/data_612/datasets/stocks_yahoo.csv')

/tmp/ipykernel_6863/652931763.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv('/home/koto/Desktop/data_612/datasets/stocks_yahoo.csv')

In [8]:
# output columns names
df1.columns

Index(['Unnamed: 0', 'Utilization Type', 'State', 'Labeler Code',
       'Product Code', 'Package Size', 'Year', 'Quarter', 'Product Name',
       'Units Reimbursed', 'Suppression Used', 'Number of Prescriptions',
       'Total Amount Reimbursed', 'Medicaid Amount Reimbursed',
       'Non Medicaid Amount Reimbursed', 'Quarter Begin', 'Quarter Begin Date',
       'Latitude', 'Longitude', 'Location', 'NDC'],
      dtype='object')

In [9]:
df1.head(2)

,Unnamed: 0,Utilization Type,State,Labeler Code,Product Code,Package Size,Year,Quarter,Product Name,Units Reimbursed,...,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non Medicaid Amount Reimbursed,Quarter Begin,Quarter Begin Date,Latitude,Longitude,Location,NDC
0,128037,MCOU,MA,37205,137,5,2010,4,ARTIFICIAL,15.0,...,1,4.08,4.08,0.0,10/1,10/01/2010,31.1801,-91.8749,"(31.1801, -91.8749)",37205013705
1,491755,FFSU,FL,62756,763,88,2010,1,TORSEMIDE,255.0,...,8,103.33,103.33,0.0,1/1,01/01/2010,39.3498,-75.5148,"(39.3498, -75.5148)",62756076388

In [33]:
# output columns names
df3.columns

Index(['no', 'date', 'company_name', 'price_at_close', 'price_change',
       'price_after_hours', 'previous_close', 'today opened', 'price range',
       '52 week range', 'volume', 'average volume', 'market cap',
       'beta (3Y Monthly)', 'PE Ratio', 'EPS', 'earnings date',
       'Dividend Yield', '1Y target est'],
      dtype='object')

In [36]:
merger_df1 = df1.merge(df3, left_on='Unnamed: 0', right_on='no')

In [68]:
# the merge dataset contains 3439 rows and 40 columns
merger_df1.shape

(3439, 40)

In [ ]:
# counting mission values 
# using formula below to output missing per columns 
# Also I will use the result of shape as reference of missing values
# 

# save number of rows as k_rows
k_rows = merger_df1.shape[0] 
counting_missing_values = k_rows - merger_df1.count()
counting_missing_values

In [72]:
# sum of missing values
x = counting_missing_values.sum()

In [76]:
# percentage of missing values
percentage_missing_values = (x * 100) / k_rows
print('The merge-df contains ' + str(round(percentage_missing_values, 2)) + '% of missing values')

The merge-df contains 74.85% of missing values

In [83]:
# clean merge_df by dropping missing values
# Dropping 75% of my dataset is not a good idea
# I will concider refill the missing values using the interpolate method
before_using_interpolate = merger_df1.infer_objects()
fill_missing_values = before_using_interpolate.interpolate()
fill_missing_values.shape

/tmp/ipykernel_6863/1028950144.py:5: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  fill_missing_values = before_using_interpolate.interpolate()

(3439, 40)

In [82]:
# output missing values from the fill_missing_Values dataset
fill_missing_values.shape[0] - fill_missing_values.count()

Unnamed: 0                          0
Utilization Type                    0
State                               0
Labeler Code                        0
Product Code                        0
Package Size                        0
Year                                0
Quarter                             0
Product Name                        1
Units Reimbursed                    0
Suppression Used                    0
Number of Prescriptions             0
Total Amount Reimbursed             0
Medicaid Amount Reimbursed          0
Non Medicaid Amount Reimbursed      0
Quarter Begin                       0
Quarter Begin Date                  0
Latitude                            0
Longitude                           0
Location                          200
NDC                                 0
no                                  0
date                                0
company_name                        0
price_at_close                      0
price_change                        8
price_after_hours                   0
previous_close                      0
today opened                        0
price range                         8
52 week range                      13
volume                              8
average volume                      0
market cap                         29
beta (3Y Monthly)                   0
PE Ratio                            0
EPS                                 0
earnings date                     514
Dividend Yield                     16
1Y target est                       0
dtype: int64

In [87]:
# second calculation the percentage of missing values
percentage_missing_values2 = (np.count_nonzero(fill_missing_values.isnull()) * 100 ) / fill_missing_values.shape[0]

print('Now the dataset contains ' + str(round(percentage_missing_values2, 2)) + '% of missing values')

Now the dataset contains 23.18% of missing values

In [94]:
# dropping the 23% of missiong vallues
clean_df = fill_missing_values.dropna()
np.count_nonzero(clean_df.isnull())

# The df contains zero missing values

0

In [96]:
# Now the Df contains 2753 rows and 40 columns
clean_df.shape

(2753, 40)

In [97]:
# saving it as a new file called assignment_5_clean.csv
clean_df.to_csv('assignment_5_clean.csv', index=False)