In [4]:
import pandas as pd

In [10]:
df1 = pd.read_csv('https://raw.githubusercontent.com/chendaniely/\
pandas_for_everyone/master/data/gapminder.tsv', sep='\t')

df2 = pd.read_csv('State_Drug_Utilization_Data_2010.csv')

df3 = pd.read_csv('stocks_yahoo.csv', low_memory=False)

df4 = pd.read_csv('Teams.csv')

In [13]:
df2

,Unnamed: 0,Utilization Type,State,Labeler Code,Product Code,Package Size,Year,Quarter,Product Name,Units Reimbursed,...,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non Medicaid Amount Reimbursed,Quarter Begin,Quarter Begin Date,Latitude,Longitude,Location,NDC
0,128037,MCOU,MA,37205,137,5,2010,4,ARTIFICIAL,15.000,...,1,4.08,4.08,0.00,10/1,10/01/2010,31.1801,-91.8749,"(31.1801, -91.8749)",37205013705
1,491755,FFSU,FL,62756,763,88,2010,1,TORSEMIDE,255.000,...,8,103.33,103.33,0.00,1/1,01/01/2010,39.3498,-75.5148,"(39.3498, -75.5148)",62756076388
2,2568076,FFSU,UT,46987,323,11,2010,2,Kadian Ora,120.000,...,2,905.24,905.24,0.00,4/1,04/01/2010,44.2853,-99.4632,"(44.2853, -99.4632)",46987032311
3,491263,FFSU,MN,781,5185,1,2010,4,LEVOTHYROX,1114.000,...,34,312.22,306.22,6.00,10/1,10/01/2010,43.3504,-84.5603,"(43.3504, -84.5603)",781518501
4,836489,FFSU,XX,51552,809,6,2010,2,COLD CREAM,226.089,...,7,52.87,52.87,0.00,4/1,04/01/2010,NaN,NaN,NaN,51552080906
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156215,2752214,MCOU,XX,63868,17,1,2010,2,QC DOCUSAT,540.000,...,10,41.15,41.15,0.00,4/1,04/01/2010,NaN,NaN,NaN,63868001701
156216,2519195,MCOU,MI,121,489,10,2010,4,DIPHENHYDR,1970.000,...,12,16.48,16.48,0.00,10/1,10/01/2010,44.6074,-69.3977,"(44.6074, -69.3977)",121048910
156217,815768,MCOU,MD,60432,133,25,2010,4,CLOBETASOL,75.000,...,3,32.24,30.24,2.00,10/1,10/01/2010,42.2373,-71.5314,"(42.2373, -71.5314)",60432013325
156218,2029158,FFSU,DE,88,1109,47,2010,4,ALLEGRA (F,60.000,...,2,152.68,146.68,6.00,10/1,10/01/2010,38.8964,-77.0262,"(38.8964, -77.0262)",88110947
156219,2799238,FFSU,DE,29,1527,25,2010,1,BACTROBAN(,360.000,...,12,896.33,705.82,190.51,1/1,01/01/2010,38.8964,-77.0262,"(38.8964, -77.0262)",29152725

In [19]:
# axis= 0 is row wise concatenation 
# axis=1 is column wise concatenation
concatenated =  pd.concat([df1, df2], )

In [21]:
concatenated.to_csv('concatenated.csv')

In [22]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 946E-965C

 Directory of c:\Users\x-ibah\Desktop\Franklin\data_612

03/08/2024  08:47 PM    <DIR>          .
03/08/2024  08:47 PM    <DIR>          ..
03/05/2024  11:43 PM    <DIR>          .ipynb_checkpoints
03/06/2024  08:28 PM             2,002 assignment_1_ismael_bah.ipynb
03/08/2024  05:03 PM            67,521 assignment_2.ipynb
03/05/2024  04:44 PM            62,317 assignment_2-Copy1.ipynb
03/05/2024  08:51 PM             1,923 assignment_3.ipynb
03/08/2024  08:47 PM        26,746,913 concatenated.csv
02/20/2024  04:54 PM         1,959,977 module 1.pdf
03/08/2024  07:46 PM                 0 part_II.ipynb
03/06/2024  12:13 AM            13,846 practicing chap 1 part I .ipynb
03/08/2024  07:58 PM        22,382,139 State_Drug_Utilization_Data_2010.csv
02/28/2024  04:49 PM        13,410,022 stocks_yahoo.csv
03/08/2024  07:58 PM           263,544 Teams.csv
              11 File(s)     64,910,204 bytes
               3 Dir(s)  425,527,119,872 bytes free